@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");

body {
  background: #38373d;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;

  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;

  --col-interact: #f9f2a2;
}

a {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 2px;
  align-items: center;
}

main {
  padding: 0 24px 50px;
}

.work {
  width: 100%;
}

.info {
  min-width: none;
}

/*Links*/
.links {
  padding: 0;
  list-style-type: none;
}

.links a {
  color: var(--col-interact);
  transition: color 0.15s ease;
}

.links a:hover {
  color: #fff;
}

.links i {
  margin-right: 0.25rem;
}

/*Image Lists*/
.media div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media button {
  border: 1px solid var(--col-interact);
  border-radius: 10px;
  color: var(--col-interact);
  background-color: transparent;

  width: 200px;
  height: 50px;
  font-size: 1.5rem;

  cursor: pointer;
  transition: 0.15s ease;
}

.media button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #2c2b30;
}

.media-list {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: space-evenly;
}

.media.closed .media-list {
  height: 200px;
  mask-image: linear-gradient(#000, transparent);
  overflow-y: hidden;
}

.media-list li {
  width: 500px;
  /*
  background-color: #725ed6;
  */
}

.media-list li img {
  width: 500px;
  align-items: center;
  object-fit: contain;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

/*Page Controls*/
.page-counter {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #0000007d;

  position: fixed;
  bottom: 0;
  z-index: 3;

  padding: 12px 0;
}

/*Etc*/
main .page:last-child {
  margin-bottom: 90px;
}

@media (width <= 600px) and (orientation: portrait) {
  .media-list li {
    width: 95%;
  }
  .media-list li img {
    width: 100%;
  }
  #last-show-more {
    margin-bottom: 30px;
  }
}
